@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Black&family=Bebas+Neue&family=Cormorant:ital,wght@0,400;0,500;1,300;1,400&family=Dancing+Script:wght@400;700&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,500;1,500&family=Indie+Flower&family=Lobster&family=Pacifico&family=Passion+One&family=Poiret+One&family=Righteous&display=swap');

.logo {
    max-width: 100%;
    width: 100px;
    margin: auto;
    
}

.donate-logo {
    max-width: 100%;
    width: 100px;
    margin: auto;
    
}

header {
    filter: drop-shadow(10);
}
nav {
    position: relative;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0px 0px;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    
}

#donate-nav ul {
        background-color: #e3e3e1;

}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid coral;
    width: 210px;
    margin: auto;
    

}

li a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: darkblue;
    font-family: 'Poiret One';
}
nav ul li:last-child {
    border-bottom: none;
}

input#toggle:checked + ul {
    display: block;

}

label[for="toggle"] {
    float: right;
    
}

input#toggle {
    display: none;
}

img.toggle-img {
    width: 70px;
    padding: 10px;
    margin-top: 12px;
   
   
}
    


/*ipad*/
@media (min-width: 768px) {
    .logo {
        width: 200px;
        padding: 10px;

        
    }

    img.toggle-img {
        width: 100px;
        margin-top:75px;
    
       
    }

    
    li a {
        text-decoration: none;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        color: orange;
        font-family: 'Poiret One';
       
    }

    

    nav ul li {
        width: 380px;

    }

}

/*wide screen*/
@media (min-width: 950px) {

    .logo {
        width: 200px;
        display: block;
        margin: auto;
    }

    label[for="Toggle"] {
        display: none;
    }

    img.toggle-img {
        display: none;
    
    }

    nav ul li a {
        font-family: 'Poiret One';
        font-size: 35px;
        border-bottom: 1px solid;
    }

    #donate-nav {
        position: relative;
        display: block;
        margin: auto;
    }

    .index-nav {
        display: block;
        margin: auto;
        left: 29.2%;
    }

    .index-nav ul li a {
        font-family: 'Poiret One';
        font-size: 35px;
    }

    .donate-logo {
        width: 200px;
        padding: 10px;
        display: block;
        margin: auto;
       
    }

    .navbar-2 {
        position: unset;
        display: block;
        margin: auto;
    }

    .navbar-2 ul li a {
        font-family: 'Poiret One';
        font-size: 35px;
    }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     position: absolute;
     color: orange;
     display: block;
     margin: auto;
     width: 600px;
   

    }

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: auto;
    padding: 0px;
    background-color: transparent;
    color: orange;

}

#donate-nav ul {
    background-color: transparent;

}

nav ul li {
    border: none;
    display: inline-block;
    width: auto;
    padding: 10px;
    color: orange;
    
    
}

li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: orange;
   
}
}