.logo {
    max-width: 100%;
    width: 100px;
    margin: auto;
    
}

header {
    filter: drop-shadow(10);
}
nav {
    position: relative;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0px 0px;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    
}
nav ul li {
    list-style: none;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid coral;
    width: 210px;
    margin: auto;
    

}

li a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: darkblue;
}
nav ul li:last-child {
    border-bottom: none;
}

input#toggle:checked + ul {
    display: block;

}

label[for="toggle"] {
    float: right;
    
}

input#toggle {
    display: none;
}

img.toggle-img {
    width: 70px;
    padding: 10px;
    margin-top: 12px;
   
   
}
    


/*ipad*/
@media (min-width: 768px) {
    .logo {
        width: 300px;
        
    }

    img.toggle-img {
        width: 70px;
        margin-top: 5px;
       
    }

    
    li a {
        text-decoration: none;
        font-size: 30px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: rgb(134, 155, 114);
       
    }

    

    nav ul li {
        width: 380px;

    }

}

/*wide screen*/
@media (min-width: 950px) {
    

    label[for="Toggle"] {
        display: none;
    }

    img.toggle-img {
        display: none;
    
    }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
   

    }

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    width: auto;
    padding: 0px;

}

nav ul li {
    border: none;
    display: inline-block;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    
}

li a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(134, 155, 114);
   
}
}