/*mobile screens*/
h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #f8da55;
}
body {
    margin: 0px;
}

main {
   padding: 0px;
    background-color: rgb(243, 233, 241);

}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    
}

.grid-item1 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
   

}

.grid-item2 {
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}


h3 {
font-family: 'Architects Daughter', cursive;
text-align: center;
color: #545457

}



img {
    width: 100%;
    height: auto;
}


/*medium screen*/
@media (min-width: 768px){
   main {
       width: 100%;
       margin: auto;
   }

   h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #f8da55;
}
body {
    margin: 0px;
}

main {
    padding: 0px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    Margin-top:5px
    
}

.grid-item2 {
    padding: 40px;
    
}

h3 {
font-family: 'Architects Daughter', cursive;
text-align: center;
color: #545457

}

p {
    background-color: #f5e6f2;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
   
    margin-bottom: 10px;
}


img {
    width: 100%;
    height: auto;
}

}

@media (min-width: 900px){
    h1 {
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        color: #f8da55;
    }
    body {
        margin: 0px;
    }
    
    main {
        padding: 5px;
    
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
    }
    

    .grid-item {
        background-color: #f5e6f2;
        margin: auto;
        font-family: 'Quicksand', sans-serif;
        padding: 30px;
        margin-bottom: 10px;
        color: dimgrey;
        width: 70%;
        vertical-align: top;
        margin-left: 120px;
    }

   

    .grid-item1 {
        width: 100%
        
    }
    
    .grid-item2 {
        line-height: 2;
    }

    h3 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: #545457
    
    }
    
    p {
        background-color: #f5e6f2;
        margin: auto;
        font-family: 'Quicksand', sans-serif;
        padding: 5px;
       
        margin-bottom: 10px;
    }
    
    
    img {
        width: 100%;
        
    }
    
    


}
