main {
    background-color: rgb(117, 152, 153);
    height: 800px;
}

img {
    width: 200px;
}

.grid-layout {
    padding-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: auto;
    width: 850px;
    text-align: center;
}

.fade {
    grid-column: 1;
}

.slide {
    grid-column: 2;
}

.toggle {
    grid-column: 3;
}

.add {
    grid-column: 4;
}

/*Buttons*/

button 
    {
        width: 180px;
        border: none;
        border-radius: 0;
        background-color:rgb(21, 78, 88);
        color:seashell;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        font-weight: bold;
    }
