@import url("colors.css");
@import url("navbar.css");

body {
    margin: 0px;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;

}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

img.pic-1 {
    order: 1;
    
}

img.pic-2 {
    order: 2;
    
}

img.pic-3 {
    order: 3;
}

img.pic-4 {
    order: 4;
}

img.pic-5 {
    order: 5;
}

@media (min-width: 768px) {

    .flex-container-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

img.pic-1-lrg {
    order: 1;
    width: 32%;
    padding: 0px 5px 5px;
    flex-grow: 1;


}

img.pic-2-lrg {
    order: 2;
    width: 32%;
    padding: 0px 5px 5px;
    flex-grow: 1;
}

img.pic-3-lrg {
    order: 3;
    width: 32%;
    padding: 0px 5px 5px;
    flex-grow: 1;
}

img.pic-4-lrg {
    order: 4;
    flex: 0 1 auto;
    padding: 0px 5px 5px;

}

img.pic-5-lrg {
    order: 5;
    flex:0 2 auto;
    padding: 0px 5px 5px;
}

}